.baner{
    background-color: #e6edf4;
    background-image: url(../../images/main_bg_img_heder.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}
@media screen and (min-width: 1200px) { 
    .baner{
        background-image: none;
    }
    .baner .bg-img{
        background-image: url(../../images/main_bg_img_heder.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
    }
}

.baner a img{
    margin: 10px 0px;
}
.baner .logo{
    display: flex;
    align-items: center;
}
.baner .logo img{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100px;
}
.baner .logo h1{
    font-size: 56px;
    margin-left: 20px;
    margin-top: 50px;
    font-family: Roboto_Bold;
}
.baner .better{
    height: 50px;
    background: var(--color_btn_read_more_hover);
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: drop-shadow(2px 3.464px 3.5px #95aeb6);
}
.baner .better::after{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: var(--color_btn_read_more_hover) transparent transparent transparent;
}
.baner .better p{
    text-transform: uppercase;
    color: var(--color_h1);
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    font-family: Roboto_Regular;
    text-align: center;
}
.baner h3{
    margin-top: 40px;
    margin-left: 55px;
    font-weight: 500;
    font-family: Roboto_Bold;
}
.baner ul{
    margin-top: -20px;
    width: 650px;
}
.baner ul li{
    margin-left: 20px;
    font-size: 18px;
    line-height: 30px;
    color: var(--color_p_text);
    font-family: Roboto_Medium;
    position: relative;
}
.baner ul li::marker{
    font-size: 30px;
    color: var(--color_h2);
}
.baner .btn{
    display: block;
    width: 230px;
    height: 35px;
    background-color: rgba(0,0,0,0);
    border: 1px solid var(--color_main_1);
    font-size: 18px;
    line-height: 42px;
    color: var(--color_main_1);
    font-weight: 400;
    font-family: Roboto_Regular;
    text-decoration: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.baner .left{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.baner .btn:hover{
    cursor: pointer;
    background-color: var(--color_btn_read_more_hover);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
