.price{
    /* height: 300px; */
    background: url(
        ../../images/Bg1-1.svg
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color_btn_read_more);
    padding: 10px;
    /* padding-bottom: 10px; */
    position: relative;
}
.price .container .get_price{
    margin: 20px 20px;
    height: 65px;
    filter: drop-shadow(2px 3.464px 3.5px rgba(2,68,121,0.75));
    background-color: var(--color_btn_read_more_hover);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.price .container .get_price::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: var(--color_btn_read_more_hover) transparent transparent transparent;
}
.price .container .get_price .procent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price .container .get_price .procent h2{
    font-size: 49px;
    letter-spacing: -2px;
    color: var(--color_btn_order_now);
    font-weight: 700;
    font-family: Roboto_Regular;
}
.price .container .get_price .procent span{
    font-size: 37px;
    color: var(--color_btn_order_now);
    font-weight: 400;
    font-family: Roboto_Medium;
}
.price .container .get_price .procent p{
    font-size: 22px;
    line-height: 20px;
    text-transform: uppercase;
    color: #075da2;
    font-weight: 400;
    font-family: Roboto_Regular;
    margin: 10px 0px 0px 10px;
}
.get_price .arrow{
    position: absolute;
    right: 400px;
    width: 29px;
}
.price .list{
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list .paper p{
    font-size: 18px;
    color: var(--color_btn_text);
    font-weight: 400;
    font-family: Roboto_Regular;
    text-transform: uppercase;
}
.list .paper select{
    width: 310px;
    height: 35px;
    background-color: #e9f7fe;
    color: var(--color_p_text);
    border: 1px solid #ddd;
    border-radius: 0px;
    background-image: url('../../images/free-icon-down-3426514.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 14px;
    appearance: none;
}
.list .paper select option{
    color: var(--color_p_text);
}
.list .price_money{
    display: flex;
    /* width: 310px; */
}
.list .price_money p{
    font-size: 16px;
    text-transform: uppercase;
    color: var(--color_btn_text);
    font-weight: 400;
    font-family: Roboto_Regular;
    margin-top: 70px;
}
.list .price_money h2{
    font-size: 48px;
    color: var(--color_btn_text);
    font-weight: 400;
    font-family: Roboto_Regular;
}
.list .price_money span{
    font-size: 25px;
}
.list .order_now{
    margin-top: 60px;
    width: 310px;
    height: 35px;
    background: var(--color_btn_order_now);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    color: var(--color_btn_text);
    font-size: 26px;
    font-weight: 400;
    font-family: Roboto_Regular;
}
.list .order_now::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: var(--color_btn_order_now) transparent transparent transparent;
}